body{
  text-align: center;
  font-family: 'Baloo Da 2', cursive;
}

.box {
  background-color: white;
  filter: drop-shadow(4px 4px 4px gray);
  color: black;
  text-align: center;
  padding-top: 25px;
  font-size: 100%;
}

.head{
  background-color: #4CC0F6;
  color: white;
}

.pn{
  background-color: #46A049;
  color: white;
}

.btn:active{
  filter: grayscale();

}

.today{
  background-color: #4E1147;
  color: white;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 13%);
  grid-template-rows: repeat(8, 70px);
  grid-auto-flow: row;
}

.center{
  width: 92%;
  display: block;
  margin: auto;
}