.box {
  background-color: white;
  filter: drop-shadow(4px 4px 4px gray);
  color: black;
  text-align: center;
  padding-top: 25px;
  font-size: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 70px);
  grid-template-rows: repeat(8, 70px);
  grid-auto-flow: row;
}

.center{
  width: 490px;
  display: block;
  margin: auto;
}

 @media only screen and (max-width: 500px) {  
  .box{
    padding-top: 70px;
  }
  .wrapper{
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: repeat(8, 150px);
  }
  .center{
    width: 1050px;
  }
}